@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color:#2c3e50;
    --green-color:#16a085;
    --blue-color:#2980b9;
    --danger-color:#c0392b;
    --light-color:#fff;

}

*{
    font-family:"Robato",sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
